
  <div id="template-container">
        <!-- Page content -->
        <div class="w3-content" style="max-width:1100px">
          <!-- About Section -->
          <div class="w3-row w3-padding-64" id="about">
            <div class="w3-col m6 w3-padding-large">
              <h1 class="w3-center">{{title}}</h1><br>
              <h5 class="w3-center">{{userName}}</h5>
              <p class="w3-large">
                  Vue (pronounced /vjuː/, like view) is a progressive framework for building user interfaces. Unlike other monolithic frameworks, Vue is designed from the ground up to be incrementally adoptable. The core library is focused on the view layer only, and is easy to pick up and integrate with other libraries or existing projects. On the other hand, Vue is also perfectly capable of powering sophisticated Single-Page Applications when used in combination with modern tooling and supporting libraries.
              </p>
              <h5 class="w3-center">Creating a Vue Instance</h5>
              <p class="w3-large">
  Every Vue application starts by creating a new Vue instance with the Vue function: </p>
  <pre>
  var vm = new Vue({
    // options
  })
  </pre>
   <p>
  Although not strictly associated with the MVVM pattern, Vue’s design was partly inspired by it. As a convention, we often use the variable vm (short for ViewModel) to refer to our Vue instance.

  When you create a Vue instance, you pass in an options object. The majority of this guide describes how you can use these options to create your desired behavior. For reference, you can also browse the full list of options in the API reference.
              </p>
            </div>
          </div>
        <!-- End page content -->
        </div>
    </div>