/*-home css-*/
  * {
      box-sizing: border-box;
  }

  body {
      margin: 0;
      font-family: Arial;
      font-size: 17px;
  }

  #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
  }

  .content {
      position: fixed;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #f1f1f1;
      width: 100%;
      padding: 20px;
  }

  #myBtn {
      width: 200px;
      font-size: 18px;
      padding: 10px;
      border: none;
      background: #000;
      color: #fff;
      cursor: pointer;
  }

  #myBtn:hover {
      background: #ddd;
      color: black;
  }


  /*.v-spinner
  {
      margin: 100px auto;
      text-align: center;
  }
  */
  @-webkit-keyframes v-pulseStretchDelay
  {
      0%,
      80%
      {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-opacity: 1;
                  opacity: 1;
      }
      45%
      {
          -webkit-transform: scale(0.1);
                  transform: scale(0.1);
          -webkit-opacity: 0.7;
                  opacity: 0.7;
      }
  }
  @keyframes v-pulseStretchDelay
  {
      0%,
      80%
      {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-opacity: 1;
                  opacity: 1;
      }
      45%
      {
          -webkit-transform: scale(0.1);
                  transform: scale(0.1);
          -webkit-opacity: 0.7;
                  opacity: 0.7;
      }
  }
